.dashboard {
  padding: 0rem 5rem 2rem;
  overflow: scroll;
  overflow-x: hidden;
}

.title {
  font-size: 3.2rem;
  margin-bottom: 0.5rem;
}

.subTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: rgba(43, 43, 43, 0.721);
}

.editText {
  font-size: 1.2rem;
  font-weight: 800;
  color: red;
}
